docker-compose:
  generator: lgtm
  files:
    - ../docker-compose.oats.yml
input:
  - path: /api/Redis/LeftPush
interval: 5000ms
expected:
  traces:
    - traceql: '{ name =~ "api/Redis/LeftPush" }'
      spans:
        - name: 'LPUSH'
          attributes:
            db.statement: LPUSH
            db.system: redis
            net.peer.name: redis
