services:
  aspnetcore:
    image: ${DOCKER_REGISTRY-}aspnetcore
    build:
      context: ../..
      dockerfile: examples/net10.0/aspnetcore/Dockerfile
      args:
        DOTNET_PUBLISH_ARGS: "/p:BuildDistroFromSource=${BUILD_DISTRO_FROM_SOURCE:-true}"
    environment:
      - AWS_ACCESS_KEY_ID=localstack
      - AWS_SECRET_ACCESS_KEY=localstack
      - AWS_REGION=us-east-1
      - AWS_ENDPOINT_URL_S3=http://localstack:4566
      - OTEL_BLRP_SCHEDULE_DELAY=5000
      - OTEL_BSP_SCHEDULE_DELAY=5000
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - OTEL_METRIC_EXPORT_INTERVAL=5000
    ports:
      - "5000:8080"
      - "8080:8080" # for OATs
    depends_on:
      - redis
      - mssql
  redis:
    image: redis:8.4.0@sha256:c22af04bb576503bf16b3e34a1fd2fd82de0f765afd866d2e380145e0af30d78
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest@sha256:698682bab57c02c42bc0aa274b158aeb242d8e9104149a7489628d5535805816
    ports:
      - "1433:1433"
    environment:
    - ACCEPT_EULA=Y
    - MSSQL_SA_PASSWORD=Password12345%%
  localstack:
    image: localstack/localstack:4.13.0@sha256:7854e1da9cf4a933228035a5389d8b5f59e9aae78ae7851a0e4de81da792d2ae
    ports:
      - "4510-4559:4510-4559"
      - "4566:4566"
