services:
  aspnetcore:
    image: ${DOCKER_REGISTRY-}aspnetcore
    build:
      context: ../..
      dockerfile: examples/net8.0/aspnetcore/Dockerfile
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
    ports:
      - "5000:8080"
      - "8080:8080" # for OATs
    depends_on:
      - redis
      - mssql
  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
    - ACCEPT_EULA=Y
    - MSSQL_SA_PASSWORD=Password12345%%
