services:
  aspnetcore:
    image: ${DOCKER_REGISTRY-}aspnetcore
    build:
      context: ../..
      dockerfile: examples/net10.0/aspnetcore/Dockerfile
      args:
        DOTNET_PUBLISH_ARGS: "/p:BuildDistroFromSource=${BUILD_DISTRO_FROM_SOURCE:-true}"
    depends_on:
      - redis
      - mssql
    ports:
      - "8080:8080" # for OATs
    environment:
      - AWS_ACCESS_KEY_ID=localstack
      - AWS_SECRET_ACCESS_KEY=localstack
      - AWS_REGION=us-east-1
      - AWS_ENDPOINT_URL_S3=http://localstack:4566
      - OTEL_BLRP_SCHEDULE_DELAY=5000
      - OTEL_BSP_SCHEDULE_DELAY=5000
      - OTEL_METRIC_EXPORT_INTERVAL=5000
  redis:
    image: redis:8.2.3@sha256:66e31e0cae26a8d291c9a4991eec0a12af4ec2185d01fdaabbed027472f1f42b
    ports:
      - "6379:6379"
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest@sha256:2c80e548ef65fb65a8ca23c3a74ed60e0964ea709f46d07c97ccaf7c437e2cc6
    ports:
      - "1433:1433"
    environment:
    - ACCEPT_EULA=Y
    - MSSQL_SA_PASSWORD=Password12345%%
  localstack:
    image: localstack/localstack:4.10.0@sha256:a65ee2a9d45a7a34a1f1faae515d2e577ce11210312c077700ccc82daefec238
    ports:
      - "4510-4559:4510-4559"
      - "4566:4566"
