services:
  aspnetcore:
    image: ${DOCKER_REGISTRY-}aspnetcore
    build:
      context: ../..
      dockerfile: examples/net10.0/aspnetcore/Dockerfile
      args:
        DOTNET_PUBLISH_ARGS: "--self-contained true /p:PublishSingleFile=true /p:BuildDistroFromSource=${BUILD_DISTRO_FROM_SOURCE:-true}"
    entrypoint: ./aspnetcore
    environment:
      - AWS_ACCESS_KEY_ID=localstack
      - AWS_SECRET_ACCESS_KEY=localstack
      - AWS_REGION=us-east-1
      - AWS_ENDPOINT_URL_S3=http://localstack:4566
      - OTEL_BLRP_SCHEDULE_DELAY=5000
      - OTEL_BSP_SCHEDULE_DELAY=5000
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - OTEL_METRIC_EXPORT_INTERVAL=5000
    ports:
      - "5000:8080"
      - "8080:8080" # for OATs
    depends_on:
      - redis
      - mssql
  redis:
    image: redis:8.4.0@sha256:73dad4271642c5966db88db7a7585fae7cf10b685d1e48006f31e0294c29fdd7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
  mssql:
    image: mcr.microsoft.com/mssql/server:2025-latest@sha256:cd7c284a0dca41285f00b7abd35802b238b1875d13d2d0f66e371abb55582a9a
    ports:
      - "1433:1433"
    environment:
    - ACCEPT_EULA=Y
    - MSSQL_SA_PASSWORD=Password12345%%
  localstack:
    image: localstack/localstack:4.12.0@sha256:0df3a97da57de03a588c05d9b8f390f15c7033fc7c4512f94619d344bc3cd317
    ports:
      - "4510-4559:4510-4559"
      - "4566:4566"
