name: dotnet format

on:
  push:
    branches: [ 'main*' ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ 'main*' ]
    paths:
    - '**.cs'
    - '.editorconfig'

jobs:
  check-format:
    runs-on: windows-latest
    permissions: {}

    steps:

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        filter: 'tree:0'
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

    - name: Run dotnet format
      run: dotnet format --verify-no-changes
