name: dotnet format

on:
  push:
    branches: [ 'main*' ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ 'main*' ]
    paths:
    - '**.cs'
    - '.editorconfig'

jobs:
  check-format:
    runs-on: windows-latest
    permissions: {}

    steps:

    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
        filter: 'tree:0'
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

    - name: Run dotnet format
      run: dotnet format --verify-no-changes
