name: OATS

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:

  package:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

    - name: Build NuGet packages
      run: dotnet build --configuration Release

    - name: Publish NuGet packages
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: oats-packages
        path: ./artifacts/package/release
        if-no-files-found: error

  acceptance-tests:
    runs-on: ubuntu-latest
    needs: package
    timeout-minutes: 20

    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Download packages
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: oats-packages
          path: ./.packages

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          cache: false
          go-version: '1.25'

      - name: Install OATS
        env:
          # renovate: datasource=github-releases depName=oats packageName=grafana/oats
          OATS_VERSION: v0.6.0
        run: go install "github.com/grafana/oats@${OATS_VERSION}"

      - name: Run acceptance tests
        env:
          BUILD_DISTRO_FROM_SOURCE: false
        run: oats --timeout=5m ./docker/docker-compose-aspnetcore

      - name: Upload log file
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: docker-compose.log
          path: oats/yaml/build/**/output.log
          if-no-files-found: ignore
