name: OATS

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions: {}

jobs:

  package:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

    - name: Build NuGet packages
      run: dotnet build --configuration Release

    - name: Publish NuGet packages
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: oats-packages
        path: ./artifacts/package/release
        if-no-files-found: error

  acceptance-tests:
    runs-on: ubuntu-latest
    needs: package
    timeout-minutes: 20

    steps:

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Download packages
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: oats-packages
          path: ./.packages

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: false
          go-version: '1.25'

      - name: Install OATS
        env:
          # renovate: datasource=github-releases depName=oats packageName=grafana/oats
          OATS_VERSION: v0.4.1
        run: go install "github.com/grafana/oats@${OATS_VERSION}"

      - name: Run acceptance tests
        env:
          BUILD_DISTRO_FROM_SOURCE: false
        run: oats --timeout=5m ./docker/docker-compose-aspnetcore

      - name: Upload log file
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: docker-compose.log
          path: oats/yaml/build/**/output.log
          if-no-files-found: ignore
