name: OATS

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:

  package:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        filter: 'tree:0'
        persist-credentials: false
        show-progress: false

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0

    - name: Build NuGet packages
      run: dotnet build --configuration Release

    - name: Publish NuGet packages
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: oats-packages
        path: ./artifacts/package/release
        if-no-files-found: error

  acceptance-tests:
    runs-on: ubuntu-latest
    needs: package
    timeout-minutes: 20

    steps:

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Download packages
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: oats-packages
          path: ./.packages

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          cache: false
          go-version: '1.25'

      - name: Install OATS
        env:
          # renovate: datasource=github-releases depName=oats packageName=grafana/oats
          OATS_VERSION: v0.6.1
        run: go install "github.com/grafana/oats@${OATS_VERSION}"

      - name: Run acceptance tests
        env:
          BUILD_DISTRO_FROM_SOURCE: false
        run: oats --timeout=5m ./docker/docker-compose-aspnetcore

      - name: Upload log file
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: docker-compose.log
          path: oats/yaml/build/**/output.log
          if-no-files-found: ignore
